.main-section {
  width: 100vw;
}

.recipe-card {
  margin-bottom: 40px;
  &__top {
    background-color: #c7bebe;
    height: 150px;
  }
  &__body {
    font-size: 12px;
    
  }
  &__header {
    font-size: 14px;
    margin-bottom: 1em;
    font-weight: 800;
  }
  &__details {
    overflow: hidden;
  }
  &__ingredients-name {
    font-size: 10px;
    font-weight: 800;
  }
  &__instruction {
    font-size: 10px;
  }
  &__steps {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 12px;
   
  }
}

.recipe-card__ingredients-name {
  font-size: 10px;
}

// #description {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 5; /* number of lines to show */
//     -webkit-box-orient: vertical;
//     font-size: 12px;
// }
