
.recipe-card{
    &__top{
        background-color: #C7BEBE;
    }
    &__instructions {
        font-size: 10px;
    }
    &__steps{
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 13px;
    }
}





