
// .main {
//     margin-right: 10vw;
//   padding-left: 10vw;
// }

// .main-section {
//   width: 100vw;
// }

.recipe-card {
  margin-bottom: 40px;
  &__top {
    background-color: #c7bebe;
    height: 150px;
  }
  &__body {
    font-size: 12px;
    padding: 5px;
    
  }
  &__header {
    font-size: 14px;
    margin-bottom: 1em;
    font-weight: 800;
  }
  &__details {
    overflow: hidden;
  }
  &__ingredients-name {
    font-size: 10px;
  }
  &__instruction {
    font-size: 10px;
  }
 &__duration-icon {
     font-weight: 800;
 }
 
  &__steps {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 12px;
   
  }
}

.recipe-card__ingredients-name {
  font-size: 10px;
}

.alert-message {
   margin-top: 50px;
   display: none !important;
}