.filter {
    &__group{
        width: 170px;
        border-radius: 5px;
        padding-top: 5px;
        margin-right: 10px;
    } 
    &__input::placeholder{
        color: #fff !important;
        font: 20px important !important;
    }
    &__group-list{
        margin-top: -25px;
        padding-top: 25px;
       
    }
}


 .dropdown-menu {
     width: 685px;
     height: 25em;
     margin-top: -25px;
 }

