
 body {
    font-family: "Helvetica", Sans-Serif; 
 }
 
 #description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 12px;
 }

 .main {
     font-size: 14px;
 }

 #missing-photo{
     background-color: #C7BEBE;
 }

 .instructions {
     font-size: 10px;
 }

 .ingredient-group {
     width: 200px;
     border-radius: 5px;
     padding-top: 5px;
     margin-right: 10px;
     margin-left: -2px;
 }
 

 .tag-input::placeholder{
     color: #fff !important;
     font: 20px important !important;
 }



 #ingredients-dropdown {
     margin-top: -25px;
     padding-top: 25px;
     height: 25em;
   
 }

 .dropdown-menu {
     width: 687px;
     height: 25em;
   
 }

 

 

 .caretup {
    transform: rotate(180deg);
 }